@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var mainMenu = CurrentPage.AncestorOrSelf(1).Children.Where("Visible");
    // delete
    //var root = CurrentPage.Site();
}

<ul class="navbar-nav">

    @foreach (var menuItem in mainMenu)
    {
        if (menuItem.Children().Where("Visible").Count() > 0 && menuItem.Name != "Artikler" && menuItem.Name != "Symboler")
        {
            <li class="nav-item dropdown @(menuItem.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" role="button" aria-haspopup="true" aria-expanded="false" href="@menuItem.Url">@menuItem.Name</a>

                <div class="dropdown-menu" aria-labelledby="Preview">
                    @foreach (var subMenuItem in menuItem.Children().Where("Visible"))
                    {
                    <a class="nav-link @(menuItem.IsAncestorOrSelf(CurrentPage) ? "current" : null)" href="@subMenuItem.Url">@subMenuItem.Name</a>
                    }
                </div>
            </li>
        }
        else
        {
            <li class="nav-item @(menuItem.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                <a class="nav-link" href="@menuItem.Url">@menuItem.Name</a>
            </li>
        }
    }

</ul>