@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@
@{
    //var selection = CurrentPage.Site().Children.Where("Visible");
    var mainMenu = CurrentPage.AncestorOrSelf(1).Children.Where("Visible");
    var root = CurrentPage.Site();
    //var projectDropdown = CurrentPage.Site().Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children.Where("Visible").OrderBy("projectTitle");
}
<ul class="navbar-nav">

    <li class="nav-item @(CurrentPage.Name == root.Name ? "current" : null) ">
        <a class="nav-link" href="@root.Url">@root.Name</a>
    </li>
    @foreach (var menuItem in mainMenu)
    {
        if (menuItem.Children().Where("Visible").Count() > 0 && menuItem.Name != "Articles" && menuItem.Name != "Symbols")
        {
            <li class="nav-item dropdown @(menuItem.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" role="button" aria-haspopup="true" aria-expanded="false" href="@menuItem.Url">@menuItem.Name</a>

                <div class="dropdown-menu" aria-labelledby="Preview">
                    @foreach (var subMenuItem in menuItem.Children())
                    {
                        <a class="nav-link @(menuItem.IsAncestorOrSelf(CurrentPage) ? "current" : null)" href="@subMenuItem.Url">@subMenuItem.Name</a>
                    }

                </div>
            </li>

        }
        else
        {
            <li class="nav-item @(menuItem.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                <a class="nav-link" href="@menuItem.Url">@menuItem.Name</a>
            </li>
        }
    }
</ul>
