@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="row">
    <div class="col-8">
        <h1>@Model.Title</h1>
        <div>&nbsp;</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Articles</h2>

        @foreach (ArticleItem articleItem in Model.Children.Where(x => x.HasValue("category") && x.GetPropertyValue<int>("category") == 121))
        {
            <div>
                <a href="@articleItem.Url">@articleItem.Title</a>
                <br />
                @articleItem.Appetizer
            </div>
        }
   
    </div>
    <div class="col-sm-4">

        <h2>Other Texts and Excerpts by Martinus</h2>
        @foreach (ArticleItem articleItem in Model.Children.Where(x => x.GetPropertyValue<int>("category") != 121))
        {
            <div>
                <a href="@articleItem.Url">@articleItem.Title</a>
                <br />
                @articleItem.Appetizer
            </div>
        }

    </div>

    <div class="col-sm-4">
        @Model.Brochures
        @Html.GetGridHtml(Umbraco.AssignedContentItem, "rightPanel")
    </div>
</div>
