@inherits Umbraco.Web.Mvc.UmbracoViewPage<EventListViewModel>
@using dtt_info.ViewModels;
@using Umbraco.Web
@using System
@using System.Text.RegularExpressions;
@using Umbraco.Core.Models;
@using Umbraco.Core.Services;

@{
    Layout = "Master.cshtml";

    IEnumerable<IPublishedContent> events = Model.Events;
}

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        @{
            var header = Model.Catagory.ToLower() == "afholdte" ? "Afholdte arrangementer" : Model.Catagory;
            @Html.Partial("Events/displayEventsHeader", header.ToFirstUpper())
        }
    </div>
</div>

<div class="row">
    <!-- Submenu -->
    <div class="col-sm-3" style="margin-top:0.5em">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Arrangementer</h3>
                <ul>
                    @{
                        foreach (var item in Model.SubMenuItems)
                        {
                            <li class="nav-item @(item.ToLower() == Model.Catagory.ToLower()  ? "current" : null)">
                                <a href="@item.ToLower()">@item</a>
                            </li>
                         }
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- Events -->
    <div class="col-sm-9">
        @{
            if (events.Count() > 0)
            {
                var eventType = "";
                foreach (Event item in events)
                {
                    if (Model.Catagory == "afholdte" && eventType != item.EventType)
                    {
                        @Html.Partial("Events/displayEventsTypeHeader", item.EventType)
                    }
                    eventType = item.EventType;
                    @Html.Partial("Events/displayEvent", item)
                }
            }
        }
    </div>
</div>