@inherits Umbraco.Web.Mvc.UmbracoViewPage<Event>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Globalization;
@using System.Text.RegularExpressions;
@using dtt_info.App_Code
@{
    /**/

    Layout = "Master.cshtml";
}


@helper StripParagraph(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = Regex.Replace(input, "</?p>", String.Empty);
        @Html.Raw(input)
    }
}



@if (TempData["success"] == null)
{
    <div class="row">
        <div class="col-sm-12">
            <h1>@Html.Raw(@Model.Title)</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8" style="margin-bottom:0em">

            @if (@Model.SubTitle != null)
            {
                <h2 style="padding-bottom:1em">@Model.SubTitle</h2>
                <p>
                    @Html.Partial("displayTimeSloths", Model.GetPropertyValue<IEnumerable<IPublishedContent>>("time"))
                    @Model.Location
                    @Html.Partial("displayLocation", Model.Location2)
                </p>
            }


            @if (@Model.Organizer != null && @Model.Organizer.ToString().Length > 8)
            {
                <p>
                    @Model.Organizer
                    <strong>Arrangeret af</strong><br />
                    @Html.Partial("displayOrganizer", Model.Organizer2)
                </p>
            }
            </div>

        @{

            var introImageItems = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("introImages");
            var relatedLinkItems = Model.GetPropertyValue<Umbraco.Web.Models.RelatedLinks>("videoLinks");

            int i = 1;
            if (introImageItems != null || relatedLinkItems != null)
            {
                @Html.Raw("<div class=\"col-sm-4\" style=\"margin-top:2em\">")


                if (introImageItems != null && introImageItems.Any())
                {
                    foreach (var imageItem in introImageItems)
                    {
                        if (i == 1)
                        {
                            <div style="margin-bottom:1em">
                                <img src='@imageItem.Url'>
                            </div>
                            i++;
                        }
                    }
                }



                if (relatedLinkItems != null && relatedLinkItems.Any())
                {
                    <div>
                        @foreach (var item in relatedLinkItems)
                        {
                            var linkTarget = (item.NewWindow) ? "_blank" : null;
                            <p><a href="@item.Link" target="@linkTarget">@item.Caption</a></p>
                        }
                    </div>
                }

                @Html.Raw("</div>")

            }
        }
    </div>

    <div class="row">


        @if (Model.HasGridValue("details"))
        {
            <div class="col-sm-8" style="margin-bottom:2em;padding:0">
                @Html.GetGridHtml(Model, "details")
            </div>

            introImageItems = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("introImages");
            if (introImageItems != null)
            {
                @Html.Raw("<div class=\"col-sm-4\" style=\"margin-top:2em; \">")

                foreach (var imageItem in introImageItems)
                {
                    if (i > 2)
                    {
                        <div style="margin-bottom:1em">
                            <img src="@imageItem.Url">
                        </div>
                    }
                    i++;
                }
            }
            @Html.Raw("</div>")
        }

        @if (@Model.Prices != null && Model.Prices.ToString().Length > 8 || @Model.Registration != null && Model.Registration.ToString().Length > 8)
        {
            <div class="col-sm-8">
                @if (Model.Prices != null && @Model.Prices.ToString().Length > 8)
                {
                    @Model.Prices
                }
                @if (Model.Registration != null && Model.Registration.ToString().Length > 8)
                {
                    @Model.Registration
                    @Html.Action("Index", "EventFormSurface")
                }
            </div>
        }

    </div>

}
else
{
    <div class="row">
        <div class="col-sm-8" style="margin-bottom:2em">
            <h1>@Model.Title</h1>
            <p>Tak for din tilmelding. Vi svarer snarest!</p>
        </div>
    </div>
}
