@inherits Umbraco.Web.Mvc.UmbracoViewPage<Events>
@using Umbraco.Core.Models
@using Umbraco.Web
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}



@{
    IEnumerable<IPublishedContent> events = Model.Children.Where(x => x.GetPropertyValue<DateTime>("starttime") >= DateTime.Now && x.IsVisible()).OrderBy(x => x.GetPropertyValue<DateTime>("StartTime"));
    IEnumerable<IPublishedContent> pastEvents = Model.Children.Where(x => x.GetPropertyValue<DateTime>("starttime") < DateTime.Now && x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("StartTime"));

}


<div class="row">
    <div class="col-12">
        <h1>Kommende arrangementer</h1>
        <br />
    </div>
</div>
<div class="row">
    @foreach (Event item in events)
    {
        <div class="col-sm-8">
            <div style="margin-bottom:2em">
                <a class="headline" href="@item.Url"><b>@item.Name</b></a><br />
                @Html.Raw(item.GetPropertyValue("shortDescription"))
            </div>
        </div>

        <div class="col-sm-4">
        </div>
    }
</div>

<div class="row">
    <div class="col-12">
        <h1>Afholdte arrangementer</h1>
        <br />
    </div>
</div>
<div class="row">
    @foreach (Event item in pastEvents)
    {
        <div class="col-sm-8">
            <div style="margin-bottom:2em">
                <a class="headline" href="@item.Url"><b>@item.Name</b></a><br />
                @Html.Raw(item.GetPropertyValue("shortDescription"))
            </div>
        </div>

        <div class="col-sm-4">
        </div>
    }
</div>