@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@Umbraco.Field("siteTitle", recursive: true)</title>
    <meta name="description" content="@Umbraco.Field("metaDescription", recursive: true)">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords", recursive: true)">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body class="site">
    <div class="container main" id="wrap">
        <header class="wrapper clearfix">
            <div class="row">
                <div class="col-md-3 col-sm-3" id="logo">
                    <a href="\"><img src="~/Content/Images/logo.jpg" alt="logo" /></a>
                </div>
                <div class="col-md-6 col-sm-9 center-content">
                    <div id="site-title">@Umbraco.Field("siteTitle", recursive: true)</div>
                    <div id="site-sub-title">@Umbraco.Field("subSiteTitle", recursive: true)</div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @Umbraco.RenderMacro("mainMenu")
                </div><!-- /.navbar-collapse -->

            </nav>
        </header>

        <!-- main content -->
        <div class="main-content">
            @RenderBody()
        </div>
        


    </div> <!-- /.container -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Umbraco.Field("contactInfo", recursive: true)
                </div>
                <div class="col-md-3">
                    @Umbraco.Field("contact", recursive: true)
                </div>
                <div class="col-md-3">
                    @Umbraco.Field("about", recursive: true)
                </div>
                <div class="col-md-3">
                    @Umbraco.Field("follow", recursive: true)
                </div>
            </div>
        </div>
    </footer>
</body>
</html>