@model IEnumerable<IPublishedContent>
@using System.Globalization;
@using dtt_info.App_Code;
@using System.Text.RegularExpressions;


@foreach (var timeSloth in Model)
{
    if (timeSloth.GetPropertyValue<DateTime>("endTime") > DateTime.Now)
    {
        if (timeSloth.GetPropertyValue<DateTime>("startTime").Date != timeSloth.GetPropertyValue<DateTime>("endTime").Date)
        {
            <time>
                @(timeSloth.GetPropertyValue<DateTime>("startTime").ToString("dddd \\den d. MMMM\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK")).FirstCharToUpper())  til
                @(timeSloth.GetPropertyValue<DateTime>("endTime").ToString("dddd \\den d. MMMM yyyy\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK"))).
            </time>
        }
        else
        {
            <time>
                @(timeSloth.GetPropertyValue<DateTime>("startTime").ToString("dddd \\den d. MMMM yyyy\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK")).FirstCharToUpper())-@(timeSloth.GetPropertyValue<DateTime>("endTime").ToString("HH:mm", CultureInfo.CreateSpecificCulture("da-DK"))).
            </time>
        }
    }
    else
    {
        if (timeSloth.GetPropertyValue<DateTime>("startTime").Date != timeSloth.GetPropertyValue<DateTime>("endTime").Date)
        {
            <span>Afholdt </span>
            <time>
                @(timeSloth.GetPropertyValue<DateTime>("startTime").ToString("dddd \\den d. MMMM\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK")))  til
                @(timeSloth.GetPropertyValue<DateTime>("endTime").ToString("dddd \\den d. MMMM yyyy\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK"))).
            </time>
        }
        else
        {
            <span>Afholdt </span>
            <time>
                @(timeSloth.GetPropertyValue<DateTime>("startTime").ToString("dddd \\den d. MMMM yyyy\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK")))-@(timeSloth.GetPropertyValue<DateTime>("endTime").ToString("HH:mm", CultureInfo.CreateSpecificCulture("da-DK"))).
            </time>
        }
    }
}

